<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">
<head>    <link rel="stylesheet" th:href="@{/form.css}" />
</head>
<div id="page" layout:fragment="content">
    <img src="/images/home-bg (1).jpg" alt="Spring logo" width="2375" height="700" />
    <div class="container">
        <div class="mt-5">
            <div class="text-center hero my-5">
                <h1 class="mb-4">Welcome to ShoeLocker</h1>
                <p class="lead">
                    Welcome to Shoe Locker! The one stop shop to all running shoes, trainers, sneakers, and kicks! Browse different shoes at the convenient click of a button. Avoid long lines at the mall and minimal size selection by shopping at Shoe Locker! We make shoe shopping simple, quick, and easy!
                </p>
            </div>
            <hr/>
        </div>
    </div>
</div>


</html>